@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Permanent+Marker&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

header {
  background: #40cdff;
  width: 100%;
  padding: 20px;
  min-height: 20vh;
  /* Flexbox */
  display: flex; /*pantalla: flexión*/
  justify-content: space-between;
  align-items: center;
  flex-direction: row; /*fila*/
  flex-wrap: wrap; /*envoltuta */
  /* especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. Si la cobertura (wrap) está permitida, esta propiedad también te permite controlar la dirección en la cual serán apilados los elementos. */
}

header .logo {
  width: 100px;
  height: 100px;
}

header nav {
  width: 50%;
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header nav a {
  color: #0007ad;
  text-align: center;
  padding: 10px;
  align-items: center;
  /* Flexbox */
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

header nav a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.container {
  min-height: 70vh;
  background: #fff;
  width: 95%;
  margin: auto;
  /* Flexbox */
  display: flex;
}

.container-principal {
  display: flex;
}

.tex-principal {
  /* Flexbox */
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  margin-left: 5%;
  font-size: 22px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.tex-principal H1 {
  display: flex;
  width: 50%;
  font-size: 26px;
  margin-top: 30px;
  font-family: 'Merienda', cursive;
}

.tex-principal p {
  width: 100%;
  height: 50%;
  margin-top: 0;
  font-size: 26px;
}

.perfil .foto {
  width: 250px;
  height: 300px;
  border-radius: 45%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.perfil .foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 25%;
}

.perfil {
  width: 50%;
  flex-direction: column;
  padding: 20px 40px;
  margin-left: 15%;
}

.iconos {
  margin-top: 20px;
}

.fa-whatsapp-square,
.fa-envelope,
.fa-github {
  font-size: 35px;
}

footer {
  background-color: #40cdff;
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

footer div {
  margin: 10px;
}

footer div i {
  margin: 0 15px;
}

footer p {
  margin-right: 25%;
}

.container-secundario {
  /* Flexbox */
  display: flex;
  width: 50%;
  height: 100%;
  font-size: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0%;
  font-size: 26px;
  margin-left: 5%;
  margin-top: 5%;
}

.container-secundario h1 {
  font-family: 'Merienda', cursive;
}
.tex1 {
  margin-bottom: 10px;
}

.tex2 {
  margin-top: 10px;
}

.tex3 {
  margin-top: 10px;
}

.container-secundario .progress {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.progress-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 30px 0;
}

.progress .pregress1 {
  width: 300px;
  height: 50px;
}

.progress-container div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}

.progress-container div span {
  position: absolute;
  top: 34px;
}

.progress-container div p {
  align-self: flex-start;
}

.container-tres {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.container-tres h1 {
  width: 100%;
  font-size: 36px;
  font-family: 'Merienda', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.proyectos {
  display: flex;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.proyecto {
  display: flex;
  background-color: #b1ffff;
  width: 30%;
  height: 95%;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
  border: 2px solid #40cdff;
}

.proyecto img {
  width: 100%;
}

.proyecto h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 10px;
}
.proyecto p {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.proyectos button {
  margin: 0 auto;
  margin-top: 10px;
  background-color: #40cdff;
  border-radius: 20px;
  width: 50%;
  height: 50px;
  box-shadow: 2px 2px 1px 0.5px rgba(0, 0, 0, 0.75);
}
.proyectos button:hover {
  background-color: #ffffff;
}

.proyectos button a {
  text-align: center;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  padding: 0 30px;
  font-weight: 900;
}

.formulario {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-direction: column;
}

.formulario section {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.mensaje {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: column;
  resize: none;
}

.nombre {
  width: 50%;
  padding: 18px 0;
}

.correo {
  width: 50%;
  padding: 18px 0;
  margin: 15px 0;
}

.formulario .enviar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite; /*nos ayuda para que la animacion sea infinita cuando 
                                          pasemos sobre la imagen el cursor */
  border-radius: 50%;
  transition: all 3s ease;
  filter: hue-rotate(90deg);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  header .logo {
    display: flex;
    width: 100px;
    height: 100px;
  }

  .container-principal {
    flex-direction: column;
  }

  .tex-principal {
    width: 90%;
    font-size: 16px;
  }

  .perfil {
    width: 100%;
    padding: 15px;
    margin-left: 0;
  }

  .container-principal h1 {
    font-size: 20px;
    width: 80%;
  }
  .proyectos {
    flex-direction: column;
    gap: 10px;
  }

  .proyecto {
    width: 80%;
  }

  .container {
    padding-bottom: 20%;
    flex-direction: column;
  }

  .proyectos button {
    width: 75%;
    margin-bottom: 10%;
  }
  .container .container-secundario {
    width: 90%;
  }

  .formulario section {
    flex-direction: column;
  }
  .formulario .nombres,
  .formulario .nombres .nombre,
  .correo,
  .correos {
    width: 100%;
    margin: 5px 0;
  }
  .enviar {
    margin-top: 40px;
  }
}
